*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

.header{
    h3{
        background-color: black;
        color: white;
        font-size: 13px;
        padding: 5px;

    }
    .nav{
        display: flex;
        gap: 50px;
        background-color: rgb(37, 115, 146);
        padding: 20px 0px 20px 100px;

        img{
            height: 70px;
        }

        h1{
            color: white;
            font-size: 50px;
        }
        p{
            padding-left: 50px;
            color: white;
        }
    }
}

.Contenido{
    display: grid;
    grid-template-columns: auto 1fr;

    .contenido-button{
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 20px;


        .titulo{
            text-align: center;
            color: blue;
            font-size: 20px ;
        }
        button{
            background-color: rgb(18, 255, 255);
            padding: 5px 30px;
            border: none;
            &:hover{
            border: 1px solid black;
        }
        }
    }
}

.Administrativo-datos{
    font-size: 12px;
    padding: 10px;
    color: blue;
    .datos1{
        align-items: center;
        display: flex;
        gap:20px;
    }
    .dato2{
        align-items: center;
        display: flex;
        gap: 20px;
    }
}

.Administrativo-cotenido{
    h3{
        background-color: black;
        color: white;
        font-size: 13px;
        padding: 5px;

    }
    h1{
        background-color: rgb(37, 115, 146);
        padding: 20px 0px 20px 100px;
        text-align: center;
        color: white;
    }
}

.administrativo-button{
    margin: 20px 100px;
    display: flex;
    padding: 20px;
    border: 1px solid rgb(37, 115, 146);
    border-radius: 10px;
    justify-content: space-around;

    button{
        background-color: rgb(37, 115, 146);
        color: white;
        padding: 5px 40px;
        border: none;
        &:hover{
            border: 1px solid black;
        }
    }
}

.administrativo-tablas{
    overflow: scroll;
    height: 250px;
    padding: 30px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .tabla1{
        border: 0.5px solid black;

        h3{
            background-color: rgb(37, 115, 146) ;
            color: white;
            text-align: center;
        }
    }
}