nav{
    width: 1800px;
    height: 1000px;
}
.nav_child_1{
    background-color:#000;
    color:white;
}
.nav_child_2{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    height: max-content;
    width: max-content;
}
.father{
    display: flex;
    height: max-content;
    justify-content:space-between;
    
}
.menucard{
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    flex-direction: column;
}
.buttons_menu{
    display: flex;
    justify-items: center;
    align-items: center;
} 
.butons{
    flex-direction: column;
    display: flex;
}